@model SammysAuto.Models.ServiceType

@{
    ViewData["Title"] = "Create";
}

<br />
<h2>Delete service type</h2>
<hr />

<form asp-action="Delete">
    <div class="form-border">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-sm btn-primary" />
            <a asp-action="Index" class="btn btn-sm btn-success">Back to list</a>
        </div>
    </div>
</form>

